@import url(https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);

body{
    background-image: url(../Img/Fondo.jpg);
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: #173583;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
header nav img{
    height: 100px;
}
header nav a{
    color: #A9F2FF;
    text-decoration: none;
}
.color{
    color: #76d1ec;
    text-align: center;
    padding: 30px;
    
}
.color2{
    color: #262a64;
    text-align: center;

}
.color3{
    color: rgb(233, 146, 213);
    text-align: center;
}
footer{
    background-color: #033951;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    flex-direction: row;
    text-align: center;
}
.container{
    background-color: #314BB4;
    text-align: center;
    
}